@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*,html,body{
  font-family: "Exo 2", sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* header css start */
.headerdataclass li a,.headerdataclass li:hover a svg {
  transition: all 500ms ease-in-out;
}
.headerdataclass li:before {
  position: absolute;
  content: '';
  background: #000;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  isolation: isolate;
  transition: all 500ms ease-in-out;
}
.headerdataclass li:hover a svg {
  color: #ed5321;
}
.headerdataclass li:hover::before {
  width: 100%;
}
.headerdataclass li:hover a {
  color: #fff !important;
}

.headerOuterdiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* header css end */